<h1>Recent Tweets</h1>

<% if user_signed_in? %>
	<%= link_to "Creat New Tweet", new_post_path %>
<% end %>

<!-- this is how we write ruby in html.erb files -->

<% @posts.each do |post| %>
	<p><%= post.content %>
		<%= link_to "#{post.user.handle}", user_path(post.user_id) rescue nil%>
		<%= link_to "Edit", edit_post_path(post) if post.user.id == current_user.id rescue nil %>
		<%= link_to "Remove", post, method: 'delete' if post.user.id === current_user.id rescue nil %>
	</p> 

<% end %> 

<!-- '='' is to display output to the screen -->